<div id="home">
    <div class="main-text">
        <div class="main-name">
            <h2><%= t("home.name") %></h2>
        </div>
        <div class="main-personal">
            <h3><%= t("home.title").upcase %></h3>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="section">
        <div id="about">
            <div class="section-content">
                <div class="title">
                    <h2><%= t("about.title") %></h2>
                </div>
                <p><%= t("about.content") %></p>
            </div>
        </div>
    </div>
    <div class="section">
        <div id="training">
            <div class="section-content">
                <div class="title">
                    <h2><%= t("training.title") %></h2>
                </div>
                <p><%= t("training.content") %></p>
            </div>
        </div>
    </div>
    <div class="section">
        <div id="coaching">
            <div class="section-content">
                <div class="title">
                    <h2><%= t("coaching.title") %></h2>
                </div>
                <p><%= t("coaching.content") %></p>
            </div>
        </div>
    </div>
</div>