<div class="navbar-container">
    <div id="navbar">
        <div class="navbar-links">
            <ul>
                <li>
                    <a class="navlink" href="#home"><%= t("navbar.home").upcase %></a>
                </li>
                <li>
                    <a class="navlink" href="#about"><%= t("navbar.about").upcase %></a>
                </li>
                <li>
                    <a class="navlink" href="#training"><%= t("navbar.training").upcase %></a>
                </li>
                <li>
                    <a class="navlink" href="#coaching"><%= t("navbar.coaching").upcase %></a>
                </li>
                <li>
                    <a class="navlink" href="#"><%= t("navbar.contact").upcase %></a>
                </li>
                <li>
                    <a class="navlink" href="#"><%= t("navbar.blog").upcase %></a>
                </li>
            </ul>
        </div>
        <div class="language-switch">
            <div class="dropdown">
                <span class="language-icon"><i class="fas fa-globe"></i></span>
                <ul class="dropdown-content">
                    <li><%= link_to (image_tag("eng.png")), { :locale=>'en' } %></li>
                    <li><%= link_to (image_tag("hun.png")), { :locale=>'hu' } %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
