<!DOCTYPE html>
<html>
  <head>
    <title>Szőke Csaba</title>
    <%# <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>

    <meta property="og:title" content="Szőke Csaba" />
    <meta property="og:url" content="https://szokecsaba.herokuapp.com/" />
    <meta property="og:image" content="https://szokecsaba.herokuapp.com/assets/about-c1b254990271dad24c73c4b9e676deb393ff889b32c2a273ef56ec3c7e7dbb28.jpg" />
    <meta property="og:description" content="The choice is yours. Never give up!" />

    <meta name="google-site-verification" content="ogHWYVzL4gC2Al5InOkCmI1yggTXohXCA1bR2bpgqZg" />
    
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

    <link rel="alternate" hreflang="hu" href="https://szokecsaba.herokuapp.com/hu" />
    <link rel="alternate" hreflang="en" href="https://szokecsaba.herokuapp.com/en" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Esteban&family=Montserrat:wght@200;400;500&family=Oswald:wght@200;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <br>
      <% flash.each do |key, message| %>
        <p class="alert alert-<%= key %>"><%= message %></p>
      <% end %>
    </div>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
